/* body properties */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(20, 20, 20);
  background-image: url("../img/typing.svg");
  background-repeat: repeat;
}

/* header properties */
header {
  height: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header image properties */
img {
  position: absolute;
  top: 0;
  max-width: 330px;
  height: auto;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

/* footer properties */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* properties for the two dropdowns and the text title */
#settingsBox, #titleBox, #textBox {
  width: 200px
}

/* properties for the dropdown labels */
#settingsLabel, #textLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* properties for the text inside the dropdowns */
#settings, #texts {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* properties for the text title, author and stats */
#textTitle, #textAuthor, #textStats {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* color of the current character */
::selection{
  color: white;
  background: lightseagreen;
}

/* table width */
.table {
  width: 560px;
}

/* input field under text properties */
.tableCopy {
  width: 600px;
  text-align: center;
}

/* text properties inside the input field */
#copy {
  text-align: center;
}

/* statistics properties */
#r1c1, #r1c2, #r1c3, #r1c4, #r2c1, #r2c2, #r2c3, #r2c4, #r3c1, #r3c2, #r3c3, #r3c4, #r4c1, #r4c2, #r4c3, #r4c4 {
  border: none;
  width: 140px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

/* start/stop button properties */
#startStopButton {
  display: inline-block;
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
}

/* properties of the white background that wraps all the text (except for header and footer) */
.wrapper{
  width: 600px;
  padding: 20px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 10px 30px black;
}

/* properties for invisible input field (typing over text) */
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}

/* text properties */
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
}

/* text properties */
.content-box {
  box-shadow: 0 1px 10px rgb(40, 40, 40);
}

/* text properties */
.content-box .typing-text {
  overflow: hidden;
  max-height: 256px;
}

/* hiding scrollbar in text */
.typing-text::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
}

/* hiding scrollbar on page */
::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
}

/* text properties */
.typing-text p {
  font-size: 21px;
  text-align: left;
  letter-spacing: 1px;
}

/* text properties */
.typing-text p span {
  position: relative;
}

/* properties when typing text is correct */
.typing-text p span.correct {
  color: green;
}

/* properties when typing text is incorrect */
.typing-text p span.incorrect {
  color: red;
  outline: 1px solid white;
  background: lightpink;
  border-radius: 4px;
}

/* properties for active character */
.typing-text p span.active {
  color: blue;
  outline: 1px solid blue;
  background: lightblue;
  border-radius: 4px;
}

/* more text properties */
.content-box .content{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

/* properties when window gets smaller */
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
}

/* properties when window gets even smaller */
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
    text-align: left;
  }
}